.direct-indirect-container {
  border: 0.5px solid #e2e8f0;
  border-radius: 2px;
  box-shadow: 2px;
  display: flex;
  flex-direction: column;
  /* width: 550px; */
  width: 46%;
  padding: 20px;
  background-color: #ffff;
  box-shadow: 10px;
  margin-top: 20px;
}

.direct-indirect-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1e293b;
}

.horizontal-line {
  border-bottom: 0.5px solid #f1f5f9;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 15px;
}

.chart-key-icon {
  height: 12px;
  width: 12px;
  margin-right: 5px;
}

.group-wrap {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.direct-indirect-value {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-right: 15px;
}

.direct-indirect-type {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #64748b;
  margin-right: 10px;
}

.direct-indirect-chart-wrap {
  margin-top: 20px;
  margin-left: -30px;
}
